// portfolio

.portfolio {
  margin-top: 5rem;
  display: block;
  h4 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  p {
    margin: 0
  }
  img {
    border-radius: 12px;
    width: 100%;
  }
}
