---
layout: default
title: About
parmalink: /about
author: Aftab Khalid
description: I’m Aftab Khalid, a Lahore based UI/UX Designer, Illustrator, Entrepreneur and occasional Front-end Developer including ReactJS, Bootstrap and Html/Scss.
---

<div class="section-ak pt" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-9 col-xxl-9">
        <h1 class="small normal" data-scroll data-scroll-speed="1" data-scroll-delay="0.08">We specialize in delivering high quality user experience design!</h1>
      </div>
      <div class="col-12 position-relative">
        <div class="image-block" data-scroll data-scroll-speed="1" data-scroll-delay="0.02">
          <img src="{{ site.baseurl }}/images/quality-ux-design.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-ak pt" data-scroll-section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <h1 class="small normal" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">We love to design challenging digital products.</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10 col-xxl-10 mt-3">
        <div class="row gx-3 justify-content-between">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <p class="p-0 p-md-4" data-scroll data-scroll-speed="1" data-scroll-delay="0.08">AK Studio was founded in 2019 by Aftab Khalid. A UX Designer himself, Aftab aimed to build a design studio that can offer design services with purpose and meaning. In a short span of time, AK Studio has delivered splendid product layout and user experience services to our customers across different industries and regions.</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <p class="p-0 p-md-4" data-scroll data-scroll-speed="1" data-scroll-delay="0.08">We are able to cultivate a multi-disciplinary team of UX strategists, UX designers, visual artists, digital marketers, web developers, and creative content writers. Our skills are in producing web and mobile designs - specially for enterprise apps with multi-dimensional use cases and complicated data which include SaaS, Data Visualization, Ecommerce, and Fintech industry.</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <img class="w-100 pt-4" src="{{ site.baseurl }}/images/about-2.png" alt="" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">
      </div>
    </div>
  </div>
</div>

<div class="section-ak pt" data-scroll-section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h1 class="small normal mb-4" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">Our daily exercise in digital mindfulness</h1>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <p class="lead mb-4" data-scroll data-scroll-speed="1" data-scroll-delay="0.08">We help our clients with solutions in design, creative, emerging technology, and stunning communications.</p>
            <p data-scroll data-scroll-speed="1" data-scroll-delay="0.08"><strong>Explore our latest work</strong></p>

            <div class="d-grid gap-4 d-md-block mb-3 mb-md-0">
              <a href="{{site.baseurl}}/work" class="btn btn-theme btn-theme-sm btn-theme-purple" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">Our Work</a>
              <a href="https://www.upwork.com/freelancers/~011fc7bee8f6513b5e" target="_blank" class="btn btn-theme btn-theme-sm btn-outline-dark ms-2" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">Upwork Profile</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <p data-scroll data-scroll-speed="1" data-scroll-delay="0.05">At the heights of technological enthusiasm, we're given the possibility to disregard the irrelevant. We value usefulness, aesthetics, and imagination. Our attention is focused on how technology could make the human experience more meaningful. </p>
        <p data-scroll data-scroll-speed="1" data-scroll-delay="0.05">We exercise this non-stop meditation as a part of a much broader community of thinkers and doers, who include placing better goals and who're pleased through the vast potential offered by innovation.</p>
      </div>
    </div>
  </div>
</div>


<div class="section-ak pt" data-scroll-section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
        <h1 class="small normal mb-5" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">Meet Our Team</h1>
        <div class="row" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">

          {% for member in site.data.team %}

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-5 mb-md-0">
              <div class="team">
                <div class="team-media">
                  <img src="{{ site.baseurl }}/{{ member.media }}" alt="">
                </div>
                <div class="team-detail">
                  <h2 class="mt-3 hairline ">
                    <span>{{ member.name }}</span>
                  </h2>
                  <span>
                    <span>{{ member.position }}</span>
                  </span>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-ak pt" data-scroll-section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
        <h1 class="small mb-5 faq-anim" data-scroll data-scroll-speed="0.3" data-scroll-delay="0.05">FAQ</h1>

        {% for faq in site.data.faqs %}
          <div class="faq">
            <div class="faq-question">
              <h3>{{ faq.que }}</h3>
            </div>
            <div class="faq-answer">
              <p>{{ faq.ans }}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
