---
layout: default
title: Contact
parmalink: /contact
author: Aftab Khalid
description: I’m Aftab Khalid, a Lahore based UI/UX Designer, Illustrator, Entrepreneur and occasional Front-end Developer including ReactJS, Bootstrap and Html/Scss.
---

<div class="section-ak pv" data-scroll-section>
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <h1>Get In Touch</h1>

        <div class="contact-form">
          <div class="small">
            <div>
              <h6>Address</h6>
              <p>Office No. 432, 4th Floor, Sadique Trade Center, Lahore, Pakistan.<br><br></p>
            </div>

            <nav class="nav small">
              {% for link in site.data.social %}
                <a class="nav-link" href="{{ link.url }}" target="_blank" rel="noopener noreferrer" title="{{ link.title }}">
                  {{ link.platform }}
                </a>
              {% endfor %}
            </nav>

            <span class="small">© 2022 <a href="https://www.aftabkhalid.com" title="AK Studio">AK Studio.</a></span>

          </div>
        </div>

      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5 mt-sm-0">

          <form class="row g-3 gform" id="contactForm" method="POST"
          action="https://script.google.com/macros/s/AKfycbyTEqRBlz2MX3aCmvj-sBR9Nuy6x69iON7jO6VwalzG2qkrAi2i9ZxsVk-RMuIxYsVU/exec">

            <div class="form-elements">

              <h3 class="contact-anim">Hello</h3>
              <p>We are happy to talk with you! Feel free to contact us.</p>

              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
                  <label for="name" class="form-label">Name</label>
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please enter your full name</div>
                </div>
              </div>

              <div class="col-12 mt-3">
                <div class="form-floating">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
                  <label for="email" class="form-label">Email</label>
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please enter your valid email</div>
                </div>
              </div>

              <div class="col-12 mt-3">
                <div class="form-floating">
                  <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter your name" required>
                  <label for="phone" class="form-label">Phone</label>
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please enter your phone</div>
                </div>
              </div>

              <div class="col-12 mt-3">
                <div class="form-floating">
                  <textarea class="form-control" name="message" id="message" rows="10" placeholder="Write message" style="height: 200px;" required></textarea>
                  <label for="message" class="form-label">Message</label>
                </div>
              </div>

              <div class="col-12 honeypot-field">
                <label class="form-label" for="honeypot"></label>
                <input class="form-control" id="honeypot" type="text" name="honeypot" value="" />
              </div>

              <div class="col-12 mt-3">
                <div class="g-recaptcha" data-sitekey="6LeA2JQjAAAAACuHuNFwprBKOngF7DU3GY6T68w5"></div>
              </div>

              <div class="col-12 mt-3">
                <button type="submit" class="btn btn-theme btn-theme-sm btn-theme-purple">Submit</button>
              </div>
            </div>

            <div class="thankyou_message" style="display:none;">
              <h1>Great! Form Submitted</h1>
              <p class="lead">We'll get back to you as soon as possible.</p>
              <p>Follow us on our social channels</p>
              <nav class="nav small">
                {% for link in site.data.social %}
                  <a class="nav-link" href="{{ link.url }}" target="_blank" rel="noopener noreferrer" title="{{ link.title }}">
                    {{ link.platform }}
                  </a>
                {% endfor %}
              </nav>
            </div>

          </form>
        </div>

		</div>
  </div>
</div>
