---
layout: default
title: Work
parmalink: /work
author: Aftab Khalid
description: I’m Aftab Khalid, a Lahore based UI/UX Designer, Illustrator, Entrepreneur and occasional Front-end Developer including ReactJS, Bootstrap and Html/Scss.
---

<div class="section-ak pt" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="col-12 pb-5">
        <h6 data-scroll data-scroll-speed=".75" data-scroll-delay="0.05">Portfolio</h6>
        <h1 class="medium" data-scroll data-scroll-speed=".75" data-scroll-delay="0.05">Case Studies</h1>
      </div>
    </div>
  </div>
</div>

{% for portfolio in site.data.portfolio.casestudies %}
  <div class="section-ak pb case-study" data-scroll-section>
    <div class="container">
      <div class="row justify-content-between align-items-center">

        {% if portfolio.type == "right" %}
        <div class="col-1 d-none d-sm-none d-lg-block order-3 order-lg-1">

        </div>
        {% endif %}

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 {% if portfolio.type == "right" %} {{portfolio.image-order}} {% endif %}">
          <img class="w-100" src="{{ site.url }}/{{ portfolio.thumb }}" alt="" data-scroll data-scroll-speed="{{ portfolio.image-speed }}" data-scroll-delay="{{ portfolio.image-delay }}">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5 mt-3 mt-lg-0 {% if portfolio.type =="right" %} {{portfolio.text-order}} {% endif %}" data-scroll data-scroll-speed="{{ portfolio.text-speed }}" data-scroll-delay="{{ portfolio.text-delay }}">
          <h2>{{ portfolio.title }}</h2>
          <p>{{ portfolio.description }}</p>
          <a href="{{ portfolio.link }}" class="btnbtn btn-theme btn-theme-sm btn-theme-purple">View Project</a>
        </div>

      </div>
    </div>
  </div>
{% endfor %}

<div class="section-ak pb" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h6 data-scroll data-scroll-speed=".75" data-scroll-delay="0.05">Other Work</h6>
        <h1 class="medium" data-scroll data-scroll-speed=".75" data-scroll-delay="0.05">Portfolio</h1>
      </div>
			<div class="col-12">
        <div class="row justify-content-center">

          {% for portfolio in site.data.portfolio.work %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" >
              <a href="{{ portfolio.link }}" class="portfolio" data-scroll data-scroll-speed="{{ portfolio.speed }}" data-scroll-delay="0.05">
                <img src="{{ site.url }}/{{ portfolio.thumb }}" alt="{{ portfolio.title }}" title="{{ portfolio.title }}">
                <h4>{{ portfolio.title }}</h4>
                <p>{{ portfolio.description }}</p>
              </a>
            </div>
          {% endfor %}

        </div>
      </div>
		</div>
  </div>
</div>
