---
layout: default
title: Work
parmalink: /work
author: Aftab Khalid
description: I’m Aftab Khalid, a Lahore based UI/UX Designer, Illustrator, Entrepreneur and occasional Front-end Developer including ReactJS, Bootstrap and Html/Scss.
---

<div class="section" data-scroll data-scroll-position="bottom">
  <div class="container">
    <div class="row">
      <div class="col-12" data-scroll data-scroll-position="top">
        <h6 data-scroll data-scroll-speed=".75" data-scroll-position="top" data-scroll-delay="0.05" data-scroll-repeat="true">Portfolio</h6>
        <h1 class="medium" data-scroll data-scroll-speed=".75" data-scroll-position="top" data-scroll-delay="0.05" data-scroll-repeat="true">Case Studies</h1>
      </div>
			<div class="col-12">
        <div class="row justify-content-between">

          {% for grid in site.data.portfolio-grid %}
            {% for portfolio in site.data.portfolio-grid.up %}
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" data-scroll data-scroll-speed="0.75" data-scroll-position="top" data-scroll-delay="0.05" data-scroll-repeat="true">
                <a href="{{site.baseurl}}{{ portfolio.path }}" class="portfolio">
                  <img src="{{site.baseurl}}{{ portfolio.thumb }}" alt="">
                  <h4>{{ portfolio.title }}</h4>
                  <p>{{ portfolio.description }}</p>
                </a>
              </div>
            {% endfor %}
            {% for portfolio in site.data.portfolio-grid.down %}
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" data-scroll data-scroll-speed="0.5" data-scroll-position="top" data-scroll-delay="0.05" data-scroll-repeat="true">
                <a href="{{site.baseurl}}{{ portfolio.path }}" class="portfolio">
                  <img src="{{site.baseurl}}{{ portfolio.thumb }}" alt="">
                  <h4>{{ portfolio.title }}</h4>
                  <p>{{ portfolio.description }}</p>
                </a>
              </div>
            {% endfor %}
          {% endfor %}

        </div>
      </div>

		</div>
  </div>
</div>
