.hero {
  position: relative;
  isolation: isolate;
  min-height: 100dvh;
  overflow: hidden;
  background: #FFF;
}

.hero-content {
  position: relative;
  z-index: 10;
}

.hero-gradient {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(246, 244, 244, 0) 80%,
    rgba(246, 244, 244, 1) 100%
  );
}
