<footer>

  <div class="footer__background background-image is-inview" data-scroll data-scroll-speed="-6"  data-scroll-delay="0.1" data-scroll-repeat="true" data-bg="url('images/footer-bg.jpg')" style="background-image: url('images/footer-bg.jpg');"></div>

  <div class="overlay2"></div>


  <div class="is-inview" data-scroll="" data-scroll-speed="-4">
    <div id="inner_footer">
      <a id="" href="mailto:hello@aftabkhalid.com" class="main_link menu_fade">
        hello@aftabkhalid.com
      </a>
      <a id="" href="mailto:hello@aftabkhalid.com" class="main_link menu_fade mobile">
        Get in touch
      </a>
    </div>

		<div class="container footer-area">
			<div class="row">
				<div class="col-3">
					<img class="ak-logo-footer" src="images/ak-logo.svg" alt="">
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
					<span class="nav-head">Quick Links</span>
					<nav class="nav flex-column">
					  <a class="nav-link active" aria-current="page" href="#">Home</a>
					  <a class="nav-link" href="#">About</a>
					  <a class="nav-link" href="#">Services</a>
					  <a class="nav-link" href="#">Work</a>
						<a class="nav-link" href="#">Contact</a>
					</nav>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
					<span class="nav-head">Address</span>
					Office No. 432, 4th Floor, Sadique Trade Center, Lahore, Pakistan.
				</div>
				<div class="col-12">
          <nav class="nav small">
						<a class="nav-link" href="https://www.facebook.com/aftabkhalid/" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Facebook">Fb</a>
	          <a class="nav-link" href="https://www.instagram.com/aftabkhalid/" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Instagram">Ig</a>
	          <a class="nav-link" href="https://twitter.com/aftabkhalid" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Twitter">Tw</a>
	          <a class="nav-link" href="https://www.linkedin.com/in/aftabkhalid/" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on LinkedIn">In</a>
	          <a class="nav-link" href="https://www.behance.net/aftabkhalid" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Behance">Bē</a>
          </nav>

          <span class="small">© 2022 <a href="https://www.aftabkhalid.com" title="AK Studio">AK Studio.</a></span>
				</div>
			</div>
		</div>

  </div>
</footer>
