<div data-scroll-section>
  <footer>

    <div class="footer__background background-image" data-scroll data-scroll-speed="-6"  data-scroll-delay="0.1" data-scroll-repeat="true" data-bg="url('images/footer-bg.jpg')" style="background-image: url('{{ site.baseurl }}/images/footer-bg.jpg');"></div>

    <div class="overlay2 d-none d-lg-block"></div>


    <div class="is-inview" data-scroll="" data-scroll-speed="-4">
      <div id="inner_footer">
        <a href="mailto:{{ site.email| encode_email }}" title="Contact me" class="main_link menu_fade">
          {{ site.email }}
        </a>
        <a href="{{ 'hello@aftabkhalid.com' | encode_email }}" class="main_link menu_fade mobile">
          Get in touch
        </a>
      </div>

  		<div class="container footer-area">
  			<div class="row">
  				<div class="col-3">
  					<img class="ak-logo-footer" src="{{ site.baseurl }}/images/ak-logo.svg" alt="">
  				</div>
  				<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
  					<span class="nav-head">Quick Links</span>
  					<nav class="nav flex-column">
              {% for link in site.data.main-menu %}
                <a class="nav-link" data-text='{{ link.title }}' aria-current="page" title="{{ link.title }}" href="{{ link.url | prepend: site.baseurl }}">
                  {{ link.title }}
                </a>
              {% endfor %}
  					</nav>
  				</div>
  				<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
  					<span class="nav-head">Address</span>
  					Office No. 432, 4th Floor, Sadique Trade Center, Lahore, Pakistan.
  				</div>
  				<div class="col-12">
            <nav class="nav small">
              {% for link in site.data.social %}
                <a class="nav-link" href="{{ link.url }}" target="_blank" rel="noopener noreferrer" title="{{ link.title }}">
                  {{ link.platform }}
                </a>
              {% endfor %}
            </nav>

            <span class="small">© 2022 <a href="https://www.aftabkhalid.com" title="AK Studio">AK Studio.</a></span>
  				</div>
  			</div>
  		</div>

    </div>
  </footer>
</div>
