{% if page.title == "Contact" %}

{% elsif page.title =="Audit Request" %}

{% else %}
<div class="{% if page.title == "Home" %} section text-center {% else %} section text-center pt-0  {% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="large" data-scroll data-scroll-speed="0.62"  data-scroll-delay="0.05" data-scroll-repeat="true">Let's Create Togather</h1>
        <p data-scroll data-scroll-speed="0.62"  data-scroll-delay="0.05" data-scroll-repeat="true">To make a better version of your project</p>
        <a href="{{ site.baseurl }}/contact" class="btn btn-theme btn-theme-sm btn-theme-purple" data-scroll data-scroll-speed="0.62"  data-scroll-delay="0.05" data-scroll-repeat="true" >Write an email</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
