<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Preload -->
<link rel="preload" href="{{ site.baseurl }}/js/index.js" as="script">
<link rel="preload" href="{{ site.baseurl }}/js/main.js" as="script">
<link rel="preload" href="{{ site.baseurl }}/js/jquery.min.js" as="script">
<link rel="preload" href="{{ site.baseurl }}/js/bootstrap.bundle.min.js" as="script">

<link rel="stylesheet" href="{{ site.baseurl }}/css/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/theme.css">


<!-- Favicons -->
<link rel="icon" href="{{ site.baseurl }}/images/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/images/site.webmanifest">

<title>{{ page.title }}</title>

{% seo title=false %}
