<header class="ak-header">
  <canvas id="canvas" data-scroll data-scroll-speed="4"></canvas>

  <div class="ak-manu-top">
    <div class="container">

      <div class="d-flex justify-content-between">
        <div class="ak-logo navbar-brand" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-1.5">
          <a href="{{ site.baseurl }}/"> <img src="{{ site.baseurl }}/images/ak-logo.svg" alt="AK Studio"></a>
        </div>

        <nav class="nav align-items-center" data-scroll data-scroll-direction="horizontal" data-scroll-speed="1.5">
          {% for link in site.data.secondary-menu %}
            <a class="nav-link" title="{{ link.title }}" href="{{ link.url | prepend: site.baseurl }}">
              {{ link.title }}
            </a>
          {% endfor %}
          <a href="#" class="btn btn-theme btn-theme-sm btn-outline-light" >Free UX Audit</a>
        </nav>
      </div>

      {% include menu.html %}

    </div>
  </div>

  <div class="container ak-header-text">
    <div class="row justify-content-center align-items-center">
      <div class="col-11 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
        <h1 class="medium normal" data-scroll data-scroll-speed="1" data-scroll-delay="0.15">We work with ambitious businesses to improve their digital products.</h1>
      </div>
    </div>
  </div>

</header>
