<div class="menu-toggle">
  <a href="#" class="menu-link">

    <span class="menu-icon">
      <span class="menu-line menu-line-1"></span>
      <span class="menu-line menu-line-2"></span>
    </span>

    <span class="menu-circle">
      <span class="menu-pulse first-pulse"></span>
      <span class="menu-pulse second-pulse"></span>
    </span>

  </a>
</div>

<div class="menu-overlay">
  <div class="overlay-content d-flex align-items-center">

    <div class="container">
      <div class="row justify-content-center align-items-stretch">

        <div class="col-3">
          <div class="menu-contact d-flex align-items-center">
            <div class="small">
      				<div>
      					<h6>Address</h6>
      					<p>Office No. 432, 4th Floor, Sadique Trade Center, Lahore, Pakistan.<br><br></p>
      				</div>

              <nav class="nav small">
    						<a class="nav-link" href="https://www.facebook.com/aftabkhalid/" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Facebook">Fb</a>
    	          <a class="nav-link" href="https://www.instagram.com/aftabkhalid/" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Instagram">Ig</a>
    	          <a class="nav-link" href="https://twitter.com/aftabkhalid" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Twitter">Tw</a>
    	          <a class="nav-link" href="https://www.linkedin.com/in/aftabkhalid/" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on LinkedIn">In</a>
    	          <a class="nav-link" href="https://www.behance.net/aftabkhalid" target="_blank" rel="noopener noreferrer" title="Aftab Khalid on Behance">Bē</a>
              </nav>

              <span class="small">© 2022 <a href="https://www.aftabkhalid.com" title="AK Studio">AK Studio.</a></span>

    	    	</div>
          </div>
        </div>

        <div class="col-2 offset-lg-2 separater">

        </div>

        <div class="col-4">
          <h6 class="mb-4">Menu</h6>
          <nav class="nav flex-column main-menu">
            <a class="nav-link" data-text='Home' aria-current="page" href="#">Home</a>
            <a class="nav-link" data-text='About' href="#">About</a>
            <a class="nav-link" data-text='Services' href="#">Services</a>
            <a class="nav-link" data-text='Work' href="#">Work</a>
            <a class="nav-link" data-text='Contact' href="#">Contact</a>
          </nav>
        </div>

      </div>
    </div>

  </div>
</div>
