:root {
  --container-max-width: 1700px;
  --container-padding: 24px;
  --section-padding: 120px;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}