<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	{% include head.html %}
</head>

<body class="loading">

	<div data-scroll-container>
    <div data-scroll-section>

			<div id="preloader" class="preloader">
		     <div class="loader"></div>
		  </div>

			{% include header.html %}

			{{ content }}

			{% include footer.html %}

		</div>
	</div>

	{% include analytics.html %}

	<svg class="cursor" width="80" height="80" viewBox="0 0 80 80">
		<circle class="cursor__inner" stroke="#000000" stroke-width="2" cx="40" cy="40" r="20"/>
	</svg>
	<script data-cfasync="false" type="text/javascript" src="{{ site.baseurl }}/form-submit.js"></script>

</body>

{% include scripts.html %}

</html>
